@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano&family=Sansita:ital,wght@1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-size: 16px;
}

.head{
  font-size: 5vw;
  font-weight: bolder;
  font-family: "Sansita", sans-serif;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.44),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.39)
 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;


}

.nav{
    
  font-family: "Oregano", cursive;
 
  transition: transform 0.2s;
}
.font-sani{
    font-family: "Sansita",sans-serif
}

.trans{
    transition: transform 0.2s;
}

.font-mons{
  font-family: "Montserrat", sans-serif;
}

.h1fonter{
  color: rgba(154, 51, 51, 1);
  font-family: "Oregano", cursive;
  font-weight:800;
  font-size:2rem;
  align-items: center;
}

.hariyali-images{
  width: 80vw;
  height: 75vh;
  display: grid;
  grid-template-columns: 16vw 16vw 16vw 16vw;
  gap: 1vw;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(184, 129, 129, 1);
  background-color:rgba(184, 129, 129, 1) ;
  border-radius: 10px;
  overflow: hidden;
}

.matter p{
  font-family: "Montserrat", sans-serif;
  padding: 2vh ;
  padding-left: 5vw;
 
  line-height: 3vh;
}